# Hugo build artifacts
public/
resources/_gen/

# Node
node_modules/
# allow lockfile for CI caching
!package-lock.json

# OS/editor junk
.DS_Store
Thumbs.db

# Hugo logs / caches (if you ever run hugo with caching flags)
hugo_stats.json
