body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #333;
}

#team-dropdowns select {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #377eb8; /* Improved blue */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#graph-container {
    width: 90%;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
