<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>March Madness Final Four Finder</title>
    <link rel="stylesheet" href="/css/final_four_style.css">
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" defer></script>
    <script src="/js/final_four_finder.js" defer></script>
</head>

<body>
    <div>
        <h3>Select 1 to 4 Teams:</h3>
        <div id="team-dropdowns"></div>
        <button id="search-button">Search</button>
        <p id="result-text"></p>
        <div id="graph-container"></div>
    </div>
</body>

</html>
