{{/* Usage: {{< tables file="search_score_tables" key="Example" >}} */}}
{{ $file := printf "data/%s.json" (.Get "file") }}
{{ $res := resources.Get $file }}
{{ if not $res }}
  <p><em>Data file not found: {{ $file }}</em></p>
{{ else }}
  {{ $data := $res | transform.Unmarshal }}
  {{ $key := .Get "key" }}
  {{ $rows := index $data $key }}
  {{ if not $rows }}
    <p><em>Key not found in {{ $file }}: “{{ $key }}”</em></p>
  {{ else }}
    <table>
      <thead>
        <tr>
          {{- range $k, $_ := index $rows 0 -}}
            <th>{{ $k }}</th>
          {{- end -}}
        </tr>
      </thead>
      <tbody>
        {{- range $rows -}}
          <tr>
            {{- range $k, $v := . -}}
              <td>{{ $v }}</td>
            {{- end -}}
          </tr>
        {{- end -}}
      </tbody>
    </table>
  {{ end }}
{{ end }}
